src/reglalistacompras.dtd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE listacompras>
        <!ELEMENT listacompras   (venta+)>
        <!ELEMENT venta          (ventacredito|ventainmediata)>
        <!ELEMENT ventacredito  (fechafinpago?, cantidad)>
        <!ELEMENT ventainmediata (cantidad, divisa)>
        <!ELEMENT fechafinpago   (#PCDATA)>
        <!ELEMENT cantidad       (#PCDATA)>
        <!ELEMENT divisa         (#PCDATA)>